* {
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
li {
  list-style: none;
  padding: 0;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.navbar {
  background-color: skyblue;
  font-size: 2rem;
  padding: 0.5em 0;
}
.navbar-icon {
  color: lightgrey;
  margin: 0 0.5em;
}
.navbar-title {
  margin-right: 0.5em;
}
.navbar-totalCount {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  text-align: center;
  line-height: 1em;
  border-radius: 50%;
  color: white;
  background-color: rgb(35, 133, 128);
}
.habit {
  background-color: powderblue;
  padding: 2em 0;
  padding-left: 0.5em;
}
.habit-name {
  font-size: 2rem;
}
.habit-count {
  color: white;
  font-size: 1.5rem;
  margin-left: 0.5em;
  background-color: lightseagreen;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  line-height: 100%;
  border-radius: 50%;
}
.button {
  font-size: 1.5rem;
  margin-left: 0.5em;
}
.button:hover {
  opacity: 0.5;
}
.button-increase {
  color: darkgreen;
}
.button-decrease {
  color: darkred;
}
.button-delete {
  color: grey;
}
